{% extends "authenticate/base.html" %} {% block content %}


    <h1 class="center">Register</h1>
<div class="col-6-md offset-md-3"></div>
    <form  method="post" action="{% url 'register' %}" >{% csrf_token %}
        {% if form.errors %}
            <p>you form has Error</p>
            {% for Form in Errors  %}
                {% if  field.errors %}
                    {{field.errors}}
                {% endif %}
            {% endfor %}
        {% endif %}
        {{ form.as_p }}
        <input type="submit" value="Register" class="btn btn-secondary">
    </form>
</div>
{% endblock %}
